*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #fff;
}
.netflix-logo img{
    height: 30px;
    width: auto;
}
.profile-icon img{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}
.hero{
    position: relative;
    height: 100vh;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 40px;
    color: #fff;
}
.hero-content{
    position: absolute;
    bottom: 20%;
    left: 4%;
    max-width: 600px;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
}
.hero-desc {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.6;
  color: #e5e5e5;
}
.hero-buttons .btn {
  font-weight: 600;
  padding: 0.6rem 1.6rem;
}

/*carousal wala part*/
.category, .category2 {
  margin: 40px 0;
  padding: 40px;
  background-color: #000;
}

.category h2, .category2 h2 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 12px;
  background-color: #000;
}

.slider{
  display: flex;
  gap: 12px;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: transform 10s ease;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-track {
  display: flex;
  gap: 12px;
  transition: transform 0.5s ease;
}

.card{
  min-width: 260px;
  flex-shrink: 0;
}

.card img{
  width: 100%;
  border-radius: 4px;
}

.card:hover{
  transform: scale(1.05);
}

.slider-wrapper {
  position: relative;
  display: flex;
  padding: 0 60px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: #9f1818;
  font-size: 32px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.slider-wrapper:hover .arrow {
  display: block;
}

