*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    /* background-color: #141414;
    color: #fff; */
}
.netflix-logo img{
    height: 30px;
    width: auto;
}
.profile-icon img{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}
/* .hero {
  position: relative;
  height: 90vh;
  background: url("../images/hero-section-img.jpg") center/cover no-repeat;
  color: #fff;
} */
.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

